---
- include_role:
    name: app-secret
  vars:
    secret_name: cloudflare-api-token
    secret_namespace: external-dns
    create_namespace: true
    secret_data:
      - { env_var: 'CLOUDFLARE_API_TOKEN', key: 'api-token' }

- name: Apply External DNS
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    namespace: argocd
    definition: "{{ lookup('file', playbook_dir + '/argocd/applications/infrastructure/external-dns/external-dns-application.yaml') }}"

