TELEGRAM_BOT_TOKEN=8100......................................721Y
CLOUDFLARE_API_TOKEN=MK.....................................E
AZURE_VPS_PUBLIC_IP=172.204.93.61

PROWLARR_API_KEY=7..........................
RUTRACKER_USER=k..........................
RUTRACKER_PASS=1..........................

MYANONAMOUSE_SESSION_ID=M87............................S

DINGU_TELEGRAM_BOT_TOKEN=7............................................M
TS_AUTH_KEY=tskey-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
