# ArgoCD Application that deploys this folder; automated sync, namespace creation, and self-heal enabled
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: immich-offsite-backup
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/kpoxo6op/soyspray.git
    targetRevision: "HEAD"
    path: playbooks/argocd/applications/backups/immich-offsite-backup
  destination:
    server: https://kubernetes.default.svc
    namespace: immich
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

