---
- name: Apply Immich Configuration
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    namespace: argocd
    definition: "{{ lookup('file', playbook_dir + '/argocd/applications/media/immich/immich-application.yaml') }}"
  tags: immich

- name: Immich Offsite Writer Secret (immich)
  include_role:
    name: app-secret
    apply:
      tags: [immich-offsite-backup]
  vars:
    secret_name: immich-offsite-writer
    secret_namespace: immich
    create_namespace: true
    secret_data:
      - { env_var: 'OFFSITE_BACKUP_WRITER_AWS_ACCESS_KEY_ID', key: 'AWS_ACCESS_KEY_ID' }
      - { env_var: 'OFFSITE_BACKUP_WRITER_AWS_SECRET_ACCESS_KEY', key: 'AWS_SECRET_ACCESS_KEY' }
      - { env_var: 'OFFSITE_BACKUP_AWS_REGION', key: 'AWS_REGION' }
      - { env_var: 'OFFSITE_BACKUP_BUCKET_NAME', key: 'BUCKET_NAME' }
      - { env_var: 'OFFSITE_BACKUP_MEDIA_PREFIX', key: 'MEDIA_PREFIX' }
  tags: [immich-offsite-backup]

- name: Immich Offsite Writer Secret (postgresql)
  include_role:
    name: app-secret
    apply:
      tags: [immich-offsite-backup]
  vars:
    secret_name: immich-offsite-writer
    secret_namespace: postgresql
    create_namespace: true
    secret_data:
      - { env_var: 'OFFSITE_BACKUP_WRITER_AWS_ACCESS_KEY_ID', key: 'AWS_ACCESS_KEY_ID' }
      - { env_var: 'OFFSITE_BACKUP_WRITER_AWS_SECRET_ACCESS_KEY', key: 'AWS_SECRET_ACCESS_KEY' }
      - { env_var: 'OFFSITE_BACKUP_AWS_REGION', key: 'AWS_REGION' }
      - { env_var: 'OFFSITE_BACKUP_BUCKET_NAME', key: 'BUCKET_NAME' }
      - { env_var: 'OFFSITE_BACKUP_MEDIA_PREFIX', key: 'MEDIA_PREFIX' }
  tags: [immich-offsite-backup]

- name: Immich Offsite Restorer Secret (postgresql)
  include_role:
    name: app-secret
    apply:
      tags: [immich-offsite-backup]
  vars:
    secret_name: immich-offsite-restorer
    secret_namespace: postgresql
    create_namespace: true
    secret_data:
      - { env_var: 'OFFSITE_BACKUP_RESTORER_AWS_ACCESS_KEY_ID', key: 'AWS_ACCESS_KEY_ID' }
      - { env_var: 'OFFSITE_BACKUP_RESTORER_AWS_SECRET_ACCESS_KEY', key: 'AWS_SECRET_ACCESS_KEY' }
      - { env_var: 'OFFSITE_BACKUP_AWS_REGION', key: 'AWS_REGION' }
      - { env_var: 'OFFSITE_BACKUP_BUCKET_NAME', key: 'BUCKET_NAME' }
      - { env_var: 'OFFSITE_BACKUP_MEDIA_PREFIX', key: 'MEDIA_PREFIX' }
  tags: [immich-offsite-backup]

- name: Apply Immich Offsite Backup Configuration
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    namespace: argocd
    definition: "{{ lookup('file', playbook_dir + '/argocd/applications/backups/immich-offsite-backup/immich-offsite-backup-application.yaml') }}"
  tags: immich-offsite-backup

