# playbooks/argocd/applications/media/booklore/booklore-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: booklore
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: "https://github.com/kpoxo6op/soyspray.git"
    targetRevision: "HEAD"
    path: playbooks/argocd/applications/media/booklore
  destination:
    server: "https://kubernetes.default.svc"
    namespace: media
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
