# playbooks/argocd/applications/media/booklore/mariadb-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: booklore-mariadb
  namespace: media
  labels:
    app: booklore-mariadb
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: booklore-mariadb
  template:
    metadata:
      labels:
        app: booklore-mariadb
    spec:
      containers:
        - name: mariadb
          image: lscr.io/linuxserver/mariadb:10.11.8
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3306
              name: mysql
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Pacific/Auckland"
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: booklore-db-secret
                  key: db-password
            - name: MYSQL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: booklore-db-secret
                  key: db-name
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: booklore-db-secret
                  key: db-user
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: booklore-db-secret
                  key: db-password
          resources:
            requests:
              cpu: 50m
              memory: 256Mi
            limits:
              cpu: 200m
              memory: 512Mi
          volumeMounts:
            - name: data
              mountPath: /config
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: booklore-mariadb
