# playbooks/argocd/applications/media/booklore/pvc-data.yaml
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: booklore-data
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 5Gi
