---
- include_role:
    name: app-secret
  vars:
    secret_name: alertmanager-telegram-secret
    secret_namespace: monitoring
    create_namespace: true
    secret_data:
      - { env_var: 'PROMETHEUS_TELEGRAM_BOT_TOKEN', key: 'PROMETHEUS_TELEGRAM_BOT_TOKEN' }

- name: Apply Prometheus CRDs
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    namespace: argocd
    definition: "{{ lookup('file', playbook_dir + '/argocd/applications/observability/prometheus/prometheus-crds-application.yaml') }}"

- name: Apply Prometheus
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    namespace: argocd
    definition: "{{ lookup('file', playbook_dir + '/argocd/applications/observability/prometheus/prometheus-application.yaml') }}"

