apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: immich-db-restore
  namespace: postgresql
spec:
  instances: 1
  imageName: ghcr.io/tensorchord/cloudnative-pgvecto.rs:16-v0.3.0
  storage:
    size: 20Gi
    storageClass: longhorn
  bootstrap:
    recovery:
      source: immich-db-backup
      recoveryTarget:
        targetTime: "YYYY-MM-DD HH:MM:SS+00:00"
  externalClusters:
    - name: immich-db-backup
      barmanObjectStore:
        destinationPath: s3://immich-offsite-archive-au2/immich/db/
        serverName: immich-db
        s3Credentials:
          accessKeyId:
            name: immich-offsite-restorer
            key: AWS_ACCESS_KEY_ID
          secretAccessKey:
            name: immich-offsite-restorer
            key: AWS_SECRET_ACCESS_KEY
          region:
            name: immich-offsite-restorer
            key: AWS_REGION
  postgresql:
    shared_preload_libraries:
      - vectors
  monitoring:
    enablePodMonitor: true
