# playbooks/argocd/applications/media/immich-restore-test/values.yaml
# Test instance pointing to database B for restore testing
# Smaller resources and separate namespace
image:
  tag: v2.3.1

env:
  DB_URL: postgresql://immich:immich@immich-db-b-rw.postgresql.svc.cluster.local:5432/immich
  DB_VECTOR_EXTENSION: "pgvecto.rs"
  REDIS_HOSTNAME: redis-master.redis.svc.cluster.local
  REDIS_PORT: "6379"
  IMMICH_MACHINE_LEARNING_URL: ""

server:
  enabled: true
  replicaCount: 1
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1Gi
  service:
    main:
      type: LoadBalancer
      ports:
        http:
          port: 2284
  ingress:
    main:
      enabled: true
      ingressClassName: "nginx"
      annotations:
        kubernetes.io/ingress.class: nginx
        nginx.ingress.kubernetes.io/proxy-body-size: "0"
      hosts:
        - host: immich-restore-test.soyspray.vip
          paths:
            - path: /
              pathType: Prefix
      tls:
        - secretName: prod-cert-tls
          hosts:
            - immich-restore-test.soyspray.vip

machine-learning:
  enabled: false

immich:
  metrics:
    enabled: false
  persistence:
    library:
      existingClaim: immich-library-restore-test
  configuration: {}

valkey:
  enabled: false

