# playbooks/argocd/applications/home-automation/mosquitto/pvc-data.yaml
# PersistentVolumeClaim for Mosquitto data
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mosquitto-data
  namespace: home-automation
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
  storageClassName: longhorn

