*
!Dockerfile
!app/
!app/package.json
!app/package-lock.json
!app/index.html
!app/eslint.config.js
!app/tsconfig.json
!app/vite.config.ts
!app/src/
!app/src/**
!app/public/
!app/public/**
!config/
!config/nginx.conf
