# playbooks/yaml/argocd-apps/headlamp/headlamp-application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: headlamp
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
    - repoURL: https://kubernetes-sigs.github.io/headlamp/
      chart: headlamp
      targetRevision: "0.35"
      helm:
        valueFiles:
          - $values/playbooks/argocd/applications/infrastructure/headlamp/values.yaml
    - repoURL: https://github.com/kpoxo6op/soyspray.git
      targetRevision: "HEAD"
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: headlamp
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
