# playbooks/argocd/applications/home-automation/zigbee2mqtt/pvc-data.yaml
# PersistentVolumeClaim for Zigbee2MQTT data
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zigbee2mqtt-data
  namespace: home-automation
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 500Mi
  storageClassName: longhorn

